<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}"></head>
<body>
<div id="container-wrapper">
    <header th:block th:replace="~{fragments/navbar}"></header>
    <div id="root-login">
        <h1 class="text-center text-light">Login</h1>
        <hr class="hr-2 bg-white w-30">
        <form class="form w-25 mx-auto" th:action="@{/users/login}" th:method="post">
            <div class="form-group">
                <label for="username" class="font-weight-bold text-light">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username..."  autofocus="autofocus" name="username" th:value="${username}">
            </div>
            <div class="form-group">
                <label for="password" class="font-weight-bold text-light">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password..." name="password">
            </div>

            <div class="alert alert-warning alert-dismissible fade show m-1" role="alert" th:if="${bad_credentials}">
                <small class="text-danger" th:text="'Invalid username or password'"></small>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <hr class="hr-2 bg-white">
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-dark">Login</button>
            </div>
        </form>
    </div>
</div>
<footer th:block th:replace="~{fragments/footer}"></footer>
</body>

</html>